.home {
  height: calc(100vh - 50px);

  .header {
    height: 50px;
    background: #0079bf;
    display: flex;
    justify-content: space-between;

    span {
      margin: 15px;
    }

    img {
      width: 40px;
      height: 40px;
      margin: 5px;
      border-radius: 20px;
    }

    img:hover {
      cursor: pointer;
      box-shadow: 0 0 2px 2px #015382;
    }
  }
}