.home {
  height: calc(100vh - 50px);

  .header {
    height: 50px;
    background: #0079bf;
    display: flex;
    justify-content: space-between;

    span:first-of-type {
      margin: 15px;
      font-size: 20px;
    }

    .header-logout {
      margin: 10px;
    }

    .header-logout {
      cursor: pointer;
    }
  }
}