.list-index {
  height: 100%;
  background: #b5b5b5;
  display: flex;
  overflow-x: scroll;

  .list-item {
    flex: 0 0 230px;
    background: #f5efef;
    border: 1px black solid;
    margin: 20px;
    padding: 20px;
    overflow-y: scroll;

    .list-item-header {
      display: flex;
      justify-content: space-between;
      
      .list-item-title {
        margin-left: 10px;
      }

      .list-item-delete {
        width: 20px;
        height: 20px;
        background: red;
      }
    }
  }
}