.list-index {
  height: 100%;
  display: flex;
  overflow-x: scroll;
    background: #eee;

  .list-item {
    flex: 0 0 230px;
    padding: 20px;

    .list-item-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #0079bf;
      
      .list-item-title {
        margin-left: 10px;
      }

      .list-item-delete {
        font-size: 1em;
      }

      .list-item-delete:hover {
        cursor: pointer;
      }
    }

    .list-item-new-icon {
      font-size: 1em;
      margin-right: 10px;
    }

    .list-item-new {
      border-bottom: 1px solid #0079bf;
    }

    .list-item-new:hover {
      cursor: pointer;
    }
  }
}