.task-index {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: calc(100vh - 100px);

  .task-item-new {
    font-size: 1em;
    margin-right: 10px;
  }

  .task-item-new:hover {
    cursor: pointer;
  }

  .task-item {
    padding: 10px;
    background: #fff;
    border: 1px #ddd solid;
    border-bottom: none;

    form {
      display: flex;

      .task-item-title {
        margin-left: 10px;
      }

      .task-item-delete {
        font-size: 1em;
      }

      .task-item-delete:hover {
        cursor: pointer;
      }
    }
  }

  .task-item:last-of-type {
    border-bottom: 1px #ddd solid;
  }
}